<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book list</title>
</head>
<body>
    <ul>
        {% for book in books %}
        <li>
            <h2>Назва: {{ book.title }} {{ book.slug }}</h2>
            <img src="{{ book.title_photo }}" alt="">
            <h3>Категорія: {{ book.category }}</h3>
            <h3>Автор: {{ book.author }}</h3>
            <p>Анотація: {{ book.annotation }}</p>
            <p>Про книгу: {{ book.about }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>